
$background: #283593;
$background-dark: #001064;
$nav-text: #ffffff;
$btncolor: #FFFFFF;
$jumbotronBackground: #7CB342;

@media (max-width:992px) {

      .content-left
      {
        border:0px solid !important
        }


      }

.mycontent  {
    img {
    margin-left: 20px;
    margin-right: 10px;
    }
    padding-right: 20px;
}
.navbar-inverse {
    background-color: $background;
    color: $nav-text;
}

.nav-link {
        color: $nav-text;
    }

.jumbotron {
    background-color: $jumbotronBackground;
    text-align: center;
    height: 475px;
    .btn {
        background: $background-dark;
        color: $btncolor;
    }
    #jbutton{
        color: $btncolor;
        margin-bottom: 10px;
    }
    h1 {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    h2 {
        padding-bottom: 10px;
    }
}


.view {
    background: url("../img/scandic-sundsvall-city-restaurant-verket-10.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 475px;
    position: relative;
    top: -25px;
}

.view1 {
    background: url("../img/photo-634069_1280.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 475px;
    position: relative;
    top: -25px;
}

.content-left {
    border-right: 1px solid #333;
}

