.navbar-inverse {
  background-color: #283593;
  color: #ffffff; }

.nav-link {
  color: #ffffff; }

.jumbotron {
  background-color: #7CB342;
  text-align: center; }
  .jumbotron h1 {
    padding-top: 75px;
    padding-bottom: 25px; }
  .jumbotron h2 {
    padding-bottom: 10px; }
